n8n/workflows/telegram-digest-workflow.json
{
  "name": "Telegram Digest Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-posts",
        "options": {}
      },
      "name": "Webhook - Receive Posts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "webhook-receive-posts"
    },
    {
      "parameters": {
        "functionCode": "// Универсальная обработка данных webhook - v3.7 Real Data Format\nconsole.log('🔧 N8N WORKFLOW VERSION: v3.7 Real Data Format - 2025-12-07 Stage 3');\nconsole.log('📥 Raw input data:', JSON.stringify($input.all(), null, 2));\n\ntry {\n    let body, posts, stats;\n    \n    // Метод 1: Webhook data в корне $json (Stage 2 userbot формат)\n    if ($json && ($json.posts || $json.collection_stats)) {\n        console.log('✅ Method 1: Direct webhook data in $json (Stage 2 format)');\n        body = $json;\n    }\n    // Метод 2: В $input.first().json напрямую (Stage 2 userbot формат)\n    else if ($input.first() && $input.first().json && ($input.first().json.posts || $input.first().json.collection_stats)) {\n        console.log('✅ Method 2: Direct in $input.first().json (Stage 2 format)');\n        body = $input.first().json;\n    }\n    // Метод 3: Прямой доступ к $json.body (тестовый формат)\n    else if ($json && $json.body) {\n        console.log('✅ Method 3: Found via $json.body (test format)');\n        body = $json.body;\n    }\n    // Метод 4: Через $input.first().json.body (тестовый формат)\n    else if ($input.first() && $input.first().json && $input.first().json.body) {\n        console.log('✅ Method 4: Found via $input.first().json.body (test format)');\n        body = $input.first().json.body;\n    }\n    // Метод 5: Fallback - ищем во всех входящих данных\n    else {\n        console.log('⚠️ Method 5: Using fallback search');\n        const allInputs = $input.all();\n        for (let i = 0; i < allInputs.length; i++) {\n            const item = allInputs[i];\n            // Сначала ищем прямые данные\n            if (item.json && (item.json.posts || item.json.collection_stats)) {\n                body = item.json;\n                console.log(`✅ Found in input[${i}].json (direct)`);\n                break;\n            }\n            // Потом в обертке body\n            else if (item.json && item.json.body) {\n                body = item.json.body;\n                console.log(`✅ Found in input[${i}].json.body`);\n                break;\n            }\n        }\n        \n        if (!body) {\n            console.log('❌ No valid data found, using empty fallback');\n            body = { posts: [], collection_stats: {} };\n        }\n    }\n    \n    stats = body.collection_stats || {};\n    posts = body.posts || [];\n    \n    console.log(`📊 Processed: ${posts.length} posts from ${stats.successful_channels || 0} channels`);\n    console.log(`📋 Stats:`, JSON.stringify(stats, null, 2));\n    console.log(`📝 First post sample:`, posts[0] ? JSON.stringify(posts[0], null, 2) : 'No posts');\n    \n    const result = {\n        timestamp: body.timestamp || new Date().toISOString(),\n        stats: stats,\n        posts: posts,\n        total_posts: posts.length,\n        success: true\n    };\n    \n    console.log('🔍 FINAL RESULT:', JSON.stringify(result, null, 2));\n    return result;\n    \n} catch (error) {\n    console.log('❌ Error processing data:', error.message);\n    console.log('❌ Error stack:', error.stack);\n    return {\n        error: 'Failed to process data: ' + error.message,\n        total_posts: 0,\n        success: false,\n        timestamp: new Date().toISOString()\n    };\n}"
      },
      "name": "Process & Log Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "process-log-data"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.total_posts}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "has-posts-check"
    },
    {
      "parameters": {
        "functionCode": "// Группировка постов по каналам\nconst posts = $json.posts || [];\n\nconst groupedByChannel = {};\n\nposts.forEach(post => {\n  const channelKey = post.channel_username || post.channel_id;\n  \n  if (!groupedByChannel[channelKey]) {\n    groupedByChannel[channelKey] = {\n      channel_title: post.channel_title,\n      channel_username: post.channel_username,\n      posts: []\n    };\n  }\n  \n  groupedByChannel[channelKey].posts.push({\n    id: post.id,\n    text: post.text,\n    date: post.date,\n    url: post.url,\n    views: post.views,\n    media_type: post.media_type\n  });\n});\n\nconsole.log('📋 Grouped posts by channels:');\nObject.keys(groupedByChannel).forEach(channel => {\n  const data = groupedByChannel[channel];\n  console.log(`  ${data.channel_title}: ${data.posts.length} posts`);\n});\n\nreturn {\n  timestamp: $json.timestamp,\n  stats: $json.stats,\n  grouped_posts: groupedByChannel,\n  total_channels: Object.keys(groupedByChannel).length\n};"
      },
      "name": "Group by Channels",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "id": "group-by-channels"
    },
    {
      "parameters": {
        "functionCode": "// Подготовка данных для AI обработки\nconst groupedPosts = $json.grouped_posts || {};\n\nconsole.log('🤖 Preparing data for OpenAI processing...');\n\n// Подготавливаем посты для AI анализа\nconst postsForAI = [];\n\nObject.keys(groupedPosts).forEach(channelKey => {\n  const channelData = groupedPosts[channelKey];\n  \n  channelData.posts.forEach(post => {\n    if (post.text && post.text.length > 50) {\n      postsForAI.push({\n        id: post.id,\n        text: post.text.substring(0, 1000), // Ограничиваем длину для AI\n        channel: channelData.channel_title,\n        views: post.views || 0,\n        date: post.date,\n        url: post.url\n      });\n    }\n  });\n});\n\nconsole.log(`📝 Prepared ${postsForAI.length} posts for AI analysis`);\n\nreturn {\n  timestamp: $json.timestamp,\n  stats: $json.stats,\n  grouped_posts: groupedPosts,\n  posts_for_ai: postsForAI,\n  total_posts_for_ai: postsForAI.length\n};"
      },
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "id": "prepare-for-ai"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты анализируешь посты из Telegram каналов и оцениваешь их релевантность по следующим критериям:\n\n1. КАТЕГОРИИ (выбери 1-2 наиболее подходящие):\n- Технологии (tech, AI, разработка, стартапы)\n- Бизнес (экономика, финансы, инвестиции)\n- Политика (новости, аналитика, международные отношения)\n- Наука (исследования, открытия, медицина)\n- Развлечения (культура, спорт, медиа)\n- Другое\n\n2. КАЧЕСТВО (оценка 1-10):\n- Информативность и уникальность\n- Актуальность и важность\n- Качество подачи\n\n3. КРАТКОЕ РЕЗЮМЕ (1-2 предложения)\n\nВозвращай результат в JSON формате:\n[{\"id\": \"post_id\", \"categories\": [\"категория1\"], \"quality_score\": 8, \"summary\": \"краткое резюме\"}]"
            },
            {
              "role": "user", 
              "content": "=Проанализируй эти посты:\n\n{{ JSON.stringify($json.posts_for_ai) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        }
      },
      "name": "OpenAI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "id": "openai-analysis",
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Обработка результатов от встроенного OpenAI node - v3.8 Fixed\nconsole.log('🤖 Processing OpenAI response - v3.8...');\nconsole.log('📥 Raw $json:', JSON.stringify($json, null, 2));\nconsole.log('📥 Raw $input.all():', JSON.stringify($input.all(), null, 2));\n\ntry {\n    // Получаем данные от предыдущих узлов\n    let groupedPosts = {};\n    let originalStats = {};\n    let originalTimestamp = '';\n    \n    // Ищем исходные данные от узла \"Prepare for AI\"\n    const prepareForAIData = $('Prepare for AI').all()[0]?.json;\n    if (prepareForAIData) {\n        console.log('✅ Found data from Prepare for AI node');\n        groupedPosts = prepareForAIData.grouped_posts || {};\n        originalStats = prepareForAIData.stats || {};\n        originalTimestamp = prepareForAIData.timestamp || '';\n    } else {\n        console.log('❌ Could not find data from Prepare for AI node');\n    }\n    \n    // Извлекаем AI ответ из встроенного OpenAI node\n    let aiAnalysis = [];\n    \n    // Встроенный OpenAI node может возвращать данные в разных форматах\n    if ($json.message?.content?.results) {\n        // Данные уже в объекте message.content.results\n        aiAnalysis = $json.message.content.results;\n        console.log('✅ Found AI response in message.content.results (object format)');\n    } else if ($json.message?.content && typeof $json.message.content === 'string') {\n        // Данные в строке message.content\n        try {\n            aiAnalysis = JSON.parse($json.message.content);\n            console.log('✅ Found AI response in message.content (string format)');\n        } catch (error) {\n            console.log('⚠️ Failed to parse message.content as JSON:', error.message);\n        }\n    } else if ($json.text) {\n        // Данные в поле text\n        try {\n            aiAnalysis = JSON.parse($json.text);\n            console.log('✅ Found AI response in text');\n        } catch (error) {\n            console.log('⚠️ Failed to parse text as JSON:', error.message);\n        }\n    } else if ($json.response) {\n        // Данные в поле response\n        try {\n            aiAnalysis = JSON.parse($json.response);\n            console.log('✅ Found AI response in response');\n        } catch (error) {\n            console.log('⚠️ Failed to parse response as JSON:', error.message);\n        }\n    } else {\n        console.log('❌ Could not find AI response in expected fields');\n        console.log('Available fields:', Object.keys($json));\n    }\n    \n    console.log(`📝 AI Analysis extracted: ${aiAnalysis.length} items`);\n    if (aiAnalysis.length > 0) {\n        console.log('📝 Sample analysis:', JSON.stringify(aiAnalysis[0], null, 2));\n    }\n    \n    // Применяем AI анализ к постам\n    const processedChannels = {};\n    \n    Object.keys(groupedPosts).forEach(channelKey => {\n        const channelData = groupedPosts[channelKey];\n        console.log(`🔄 Processing channel: ${channelData.channel_title} (${channelData.posts.length} posts)`);\n        \n        const processedPosts = channelData.posts.map(post => {\n            // Ищем AI анализ для этого поста\n            const analysis = aiAnalysis.find(item => {\n                return item.id == post.id || // Сравниваем с приведением типов\n                       (item.text && post.text && item.text.includes(post.text.substring(0, 50)));\n            });\n            \n            const result = {\n                ...post,\n                ai_categories: analysis?.categories || ['Другое'],\n                ai_quality_score: analysis?.quality_score || 5,\n                ai_summary: analysis?.summary || post.text?.substring(0, 150) + '...',\n                processed_by_ai: !!analysis\n            };\n            \n            console.log(`  📝 Post ${post.id}: quality=${result.ai_quality_score}, categories=${JSON.stringify(result.ai_categories)}`);\n            return result;\n        });\n        \n        // Фильтруем по качеству (оставляем с оценкой >= 6)\n        const highQualityPosts = processedPosts.filter(post => post.ai_quality_score >= 6);\n        \n        // Сортируем по качеству и просмотрам\n        highQualityPosts.sort((a, b) => {\n            const scoreA = a.ai_quality_score * 10 + Math.log(a.views || 1);\n            const scoreB = b.ai_quality_score * 10 + Math.log(b.views || 1);\n            return scoreB - scoreA;\n        });\n        \n        processedChannels[channelKey] = {\n            ...channelData,\n            posts: highQualityPosts.slice(0, 8), // Топ 8 качественных постов\n            all_processed_posts: processedPosts.length,\n            high_quality_posts: highQualityPosts.length,\n            ai_processed: true\n        };\n        \n        console.log(`📊 ${channelData.channel_title}: ${processedPosts.length} total → ${highQualityPosts.length} high quality → ${Math.min(8, highQualityPosts.length)} final`);\n    });\n    \n    const result = {\n        timestamp: originalTimestamp || new Date().toISOString(),\n        processed_at: new Date().toISOString(),\n        stats: originalStats,\n        processed_channels: processedChannels,\n        total_channels: Object.keys(processedChannels).length,\n        ai_analysis_stats: {\n            total_analyzed: aiAnalysis.length,\n            avg_quality: aiAnalysis.reduce((sum, item) => sum + (item.quality_score || 0), 0) / Math.max(aiAnalysis.length, 1)\n        }\n    };\n    \n    console.log('🔍 FINAL RESULT from Process AI Results:', JSON.stringify(result, null, 2));\n    return result;\n    \n} catch (error) {\n    console.log('❌ Error in Process AI Results:', error.message);\n    console.log('❌ Error stack:', error.stack);\n    return {\n        error: 'Failed to process AI results: ' + error.message,\n        timestamp: new Date().toISOString(),\n        processed_channels: {},\n        total_channels: 0\n    };\n}"
      },
      "name": "Process AI Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1560,
        200
      ],
      "id": "process-ai-results"
    },
    {
      "parameters": {
        "functionCode": "// Финальная подготовка дайджеста\nconst processedChannels = $json.processed_channels || {};\n\nconsole.log('📄 Preparing final digest...');\n\nconst digest = {\n  id: `digest_${Date.now()}`,\n  created_at: $json.timestamp,\n  processed_at: $json.processed_at,\n  channels: [],\n  total_posts: 0,\n  summary: {\n    channels_processed: Object.keys(processedChannels).length,\n    original_posts: $json.stats.total_posts,\n    filtered_posts: 0\n  }\n};\n\nObject.keys(processedChannels).forEach(channelKey => {\n  const channelData = processedChannels[channelKey];\n  \n  digest.channels.push({\n    title: channelData.channel_title,\n    username: channelData.channel_username,\n    posts_count: channelData.posts.length,\n    posts: channelData.posts.map(post => ({\n      title: (post.text || '').substring(0, 100) + '...',\n      url: post.url,\n      views: post.views,\n      date: post.date\n    }))\n  });\n  \n  digest.total_posts += channelData.posts.length;\n  digest.summary.filtered_posts += channelData.filtered_count;\n});\n\nconsole.log(`✅ Digest ready: ${digest.total_posts} posts from ${digest.channels.length} channels`);\n\nreturn digest;"
      },
      "name": "Prepare Digest",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1780,
        200
      ],
      "id": "prepare-digest"
    },
    {
      "parameters": {
        "functionCode": "// Отправка обратно в Backend API (или сохранение)\nconst digest = $json;\n\nconsole.log('💾 Saving digest to backend...');\nconsole.log('Digest ID:', digest.id);\nconsole.log('Total posts:', digest.total_posts);\nconsole.log('Channels:', digest.channels.length);\n\n// TODO: Здесь будет реальная отправка в Backend API\n// Пока просто логируем результат\n\nreturn {\n  success: true,\n  digest_id: digest.id,\n  message: `Digest saved with ${digest.total_posts} posts from ${digest.channels.length} channels`,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Save to Backend",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ],
      "id": "save-to-backend"
    },
    {
      "parameters": {
        "functionCode": "// Обработка случая когда нет постов\nconsole.log('⚠️ No posts received from userbot');\n\nreturn {\n  success: false,\n  message: 'No posts to process',\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "No Posts Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "id": "no-posts-handler"
    }
  ],
  "connections": {
    "Webhook - Receive Posts": {
      "main": [
        [
          {
            "node": "Process & Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Log Data": {
      "main": [
        [
          {
            "node": "Has Posts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Posts?": {
      "main": [
        [
          {
            "node": "Group by Channels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Posts Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Channels": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Process AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Results": {
      "main": [
        [
          {
            "node": "Prepare Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest": {
      "main": [
        [
          {
            "node": "Save to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "3"
} 